@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 300;
  src: local('Inter'), url('./Inter/Inter_24pt-Light.ttf');
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  src: local('Inter'), url('./Inter/Inter_24pt-Regular.ttf');
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  src: local('Inter'), url('./Inter/Inter_24pt-Medium.ttf');
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  src: local('Inter'), url('./Inter/Inter_24pt-SemiBold.ttf');
}




