@import './fonts/index.css';


body {
  background: #706a9d;
  height: 100%;
  display: grid;
  place-items: center;
}

.card__hidden {
  transform: translateY(-100vh);
}

button {
  border: none;
  outline: none;
  background: #000080;
  border-radius: 10px;
  font-family: Inter;
  font-width: 600;
  font-size: 20px;
  color: white;
  padding: 20px;
  margin: 20px;
  cursor: pointer;
}








